div.features h3 {
  font-size: 24px;
}

a.btn {
  text-transform: none
}

body {
  padding-top: 80px
}

div.jumbotron {
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

div.features, div.footer {
  background: #ffffff;
  position: relative;
  top: 400px;
}
