a.btn {
  text-transform: none
}



body#landing-page {
  padding-top: 80px
}

div.footer p {
  font-size: 8px;
}

div.jumbotron {
  position: fixed;
  top: 65px;
  width: 100%;
  background-image: url('/img/starfield.jpg');
}

div.jumbotron, div.jumbotron h1 {
  color: #fff;
}

body#landing-page div.landing-features h3 {
  font-size: 24px;
}

body#landing-page div.landing-features, body#landing-page div.footer {
  background: #ffffff;
  position: relative;
  top: 280px;
}

body#landing-page a.navbar-brand, body#landing-page #navbar_download_button {
  opacity: 0;
  transition: opacity 2s ease 0s;
}

body#landing-page a.navbar-brand.navbar-visible-on-scroll, body#landing-page #navbar_download_button.navbar-visible-on-scroll {
  opacity: 1;
  transition: opacity 2s ease 0s;
}

nav.navbar {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
