.tutorial-introduction {
    width: 80%;
    padding-top: 5px;
    margin: 0 auto;
}

.tutorial-container {
    display: flex;
    position: relative;
    width: 90%;
    left: 10%;
    padding-right: 5%;
    gap: 4%;  /* Adjust this value to set the margin between the tutorials and tutorial-selection */
}

.tutorials {
    flex: 5;
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    justify-content: flex-start;
}

.tutorial:last-child {
    border-bottom: none;
}

.tutorial-selection {
    display: block;
    flex: 1;
}

.toggle-list {
    border: 1px solid #ccc;
}

.toggle-header {
    display: block;
    cursor: pointer;
    padding: 10px;
    background-color: #f5f5f5;
}

#tutorialsList {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
}

#tutorialsList.collapsed {
    max-height: none;
}

#tutorialsList li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

#tutorialsList li a:hover {
    background-color: #e5e5e5;
}

.tutorial-content header .tutorial-date {
    font-size: 0.8em;
    color: #888;
    margin-top: 3px;
    display: block;
    text-align: left;
}

.tutorial-tile {
    flex: 0 0 calc(33.333% - 30px);  /* Adjust the margin value accordingly */
    box-sizing: border-box;
    margin: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;

    text-decoration: none;
    color: inherit;
    display: block;

    display: flex;
    flex-direction: column;
}

.tutorial-tile h3 {
    font-size: 1.5em;
    margin: 5px 5px;
    padding: 0;
}

.tutorial-tile:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.tutorial-thumbnail img {
    display: block;
    width: 100%;
    height: auto;
}

.tutorial-title {
    text-align: center;
}

.tutorial-date {
    font-size: 0.8em;
    color: #888;
    text-align: left;
    margin-bottom: 6px;
    margin-left: 10px;
}

.mobile-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
    background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {
    .tutorial-container {
        flex-direction: column;  /* Stack the tutorials and selection vertically */
    }
    .mobile-toggle {
        display: block; /* Show the toggle button on mobile */
    }
    .tutorial-selection {
        display: none;  /* Initially hide the tutorial list */
        width: 100%;    /* Make it full width */
        order: -1;      /* Place it above the tutorials */
    }
    #tutorialsList {
        max-height: none;
    }
}

@media screen and (max-width: 480px) {
    .tutorial-tile {
        flex: 1 1 100%;
    }
}