<div class="features row">
  <div class="span4">
    <img src="/resources/img/6dof_icon.png">
    <p>Six-degree-of-freedom flight simulation</p>
  </div>
  <div class="span4">
    <img src="http://placehold.it/64x64">
    <p>Automatic design optimization</p>
  </div>
  <div class="span4">
    <img src="http://placehold.it/64x64"> 
    <p>Realtime simulated altitude, velocity and acceleration display</p>
  </div>
  <div class="span4">
    <img src="http://placehold.it/64x64"> 
    <p>Staging and clustering support</p>
  </div>
  <div class="span4">
    <img src="http://placehold.it/64x64"> 
    <p>Cross-platform (Java-based)</p>
  </div>

</div>
