<div class="features row">
  <div class="span4">
    <img src="/resources/img/6dof_icon.png">
    <p>Six-degree-of-freedom flight simulation</p>
  </div>
  <div class="span4">
    <img src="/resources/img/opt_icon.png">
    <p>Automatic design optimization</p>
  </div>
  <div class="span4">
    <img src="/resources/img/alt_icon.png">
    <p>Realtime simulated altitude, velocity and acceleration display</p>
  </div>
  <div class="span4">
    <img src="/resources/img/stage_icon.png">
    <p>Staging and clustering support</p>
  </div>
  <div class="span4">
    <img src="/resources/img/java_icon.png">
    <p>Cross-platform (Java-based)</p>
  </div>

</div>
