<div class="dropdown" style="margin-left: 20px;">
    <button class="dropbtn">Other operating systems<i class="fa-solid fa-angle-down" style="margin-left: 15px;"></i></button>
    <div class="dropdown-content">
      <a href="https://github.com/openrocket/openrocket/releases/download/release-{{site.current_version}}/OpenRocket-{{site.current_version}}-installer.exe">Windows</a>
      <a href="https://github.com/openrocket/openrocket/releases/download/release-{{site.current_version}}/OpenRocket-{{site.current_version}}.dmg">macOS</a>
      <a href="https://github.com/openrocket/openrocket/releases/download/release-{{site.current_version}}/OpenRocket-{{site.current_version}}.AppImage">Linux</a>
      <a href="https://github.com/openrocket/openrocket/releases/download/release-{{site.current_version}}/OpenRocket-{{site.current_version}}.jar">JAR</a>
    </div>
  </div>
