{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<div class="gallery row">
 <div class="col-xs-6">
  <a class="thumbnail" href="{{ relative }}screenshots/01.Main-Window.png" target="_blank">
   <img alt="Main interface" src="{{ relative }}screenshots/01.Main-Window.png" class="responsive">
   <div class="caption">
    <p>The main rocket design window is used to design the rocket and it also provides information about a flight simulation in real-time.</p>
   </div>
  </a>
 </div>

 <div class="col-xs-3">
  <a class="thumbnail" href="{{ relative }}screenshots/02.Component-Shape-Properties.png" target="_blank">
   <img alt="Component shape properties" src="{{ relative }}screenshots/02.Component-Shape-Properties.png" class="responsive">
   <div class="caption">
    <p>
      The component shape and properties are defined in their own dialog.
    </p>
   </div>
  </a>
 </div>
</div>
<div class="gallery row">
 <div class="col-xs-3">
  <a class="thumbnail" href="{{ relative }}screenshots/03.Analysis-Drag.png" target="_blank">
   <img alt="Component analysis" src="{{ relative }}screenshots/03.Analysis-Drag.png" class="responsive">
   <div class="caption">
    <p>
      You can analyze the effect of individual components on the stability, drag and roll characteristics of the rocket.
    </p>
   </div>
  </a>
 </div>

 <div class="col-xs-3">
  <a class="thumbnail" href="{{ relative }}screenshots/04.Simulation-Edit.png" target="_blank">
   <img alt="Simulation editing" src="{{ relative }}screenshots/04.Simulation-Edit.png" class="responsive">
   <div class="caption">
    <p>
      You can edit simulation parameters to match your weather and launch conditions.
    </p>
   </div>
  </a>
 </div>

 <div class="col-xs-3">
  <a class="thumbnail" href="{{ relative }}screenshots/05.Plot-Export.png" target="_blank">
   <img alt="Simulation plot/export" src="{{ relative }}screenshots/05.Plot-Export.png" class="responsive">
   <div class="caption">
    <p>
      You can choose which simulation parameters you want to plot or export, using predefined plot configurations or a self-defined one.
    </p>
   </div>
  </a>
 </div>
</div>
<div class="gallery row">
 <div class="col-xs-9">
  <a class="thumbnail" href="{{ relative }}screenshots/06.Plots.png" target="_blank">
   <img alt="Simulation plots (left = line marker, right = icon marker)" src="{{ relative }}screenshots/06.Plots.png" class="responsive">
   <div class="caption">
    <p>
      The simulations are plotted using the JFreeChart plotting library.<br>Flight events can be annotated using either a line marker, or an icon maker.
    </p>
   </div>
  </a>
 </div>

</div>
