<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        OpenRocket <i class="fa fa-globe"></i><i class="fa fa-rocket"></i>
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <p class="navbar-btn" id="navbar_download_button" style="padding-right: 10px;"> {% include download_button.html %} </p>
        </li>
        <li class="active"><a href="#">Download <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Docs <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">User Guide</a></li>
            <li><a href="#">Developer Guide</a></li>
            <li><a href="#">Rocketry Forum (Help & Support)</a></li>
          </ul>
        </li>
        <li><a href="#">Contribute</a></li>
      </ul>
    </div>
  </div>
</nav>
