/* Dropdown Button */
.dropbtn {
  padding: 5px 16px 5px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.dropbtn-light {
  background-color: white;
  color: #444444;
  border: 2px solid #1a1a1a81;
}

.dropbtn-dark {
  background-color: #1a1a1a81;
  color: white;
  border: 2px solid rgb(228, 228, 228);
}

.dropbtn-light:hover {
  background-color: #e7e7e7;
}

.dropbtn-dark:hover {
  background-color: #313131;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: show;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}