<!doctype html>
<html lang="en-us">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="resources/css/bootstrap.min.css" rel="stylesheet">
  <title>{{ page.title }}</title>
 </head>
<body>
 <div class="wrapper">
  <div id="header">
   <div class="container">
    <h1><a href="/">OpenRocket</a><span class="tagline">— an Open Source model rocket simulator</span></h1>
   </div>
  </div>
  <div id="content">
   <div class="container">
    <div class="row">
     <div class="span3">
      <div class="well navwell">
       <ul class="nav nav-list">
        <li class="nav-header">OpenRocket</li>
        <li class="active">
          <a href="">Features and screenshots</a>
        </li>
        <li ><a href="">Download</a></li>
       </ul>
      </div>
     </div>
     <div class="span8">
      {{ content }}
     </div>
    </div>
   </div>
  </div>
 </div>
 <div id="footer">
  footer
 </div>
</body>
</html>
