<!doctype html>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700|PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href="resources/css/bootstrap.min.css" rel="stylesheet">
  <link href="resources/css/style.css" rel="stylesheet">

  <!-- SlidesJS Required: Link to jQuery -->
  <script src="resources/js/jquery-1.10.2.min.js"></script>

  <title>{{ page.title }}</title>
 </head>
<body>
 <div class="wrapper">
  <div id="header">
   <div class="container">
    <h1><a href="/"><img src="resources/img/icon.png" width="75" /> OpenRocket</a>
        <span class="tagline"> an Open Source model rocket simulator</span>
    </h1>
    <a class="btn btn-success pull-right">Download!<br>OpenRocket-13.05.jar</a>
   </div>
  </div>
  <div id="content">
   <div class="container">
    <div class="row">
     <div class="span3">
      <div class="navwell">
       <ul class="nav nav-list">
        <li class="nav-header">OpenRocket</li>

        {% for link in site.navigation %}
          <li {% if page.name == link.name %}class="active"{% endif %}>
            <a href="{{ link.url }}">{{ link.text }}</a>
          </li>
        {% endfor %}

       </ul>
      </div>
     </div>
     <div class="span9">
      {{ content }}
     </div>
    </div>
   </div>
  </div>
 </div>
 <div id="footer">
  <div class="container">
   footer
  </div>
 </div>
</body>
</html>
